
    .bg-img{
      background-image:url("https://www.rocketmortgage.com/resources-cmsassets/RocketMortgage.com/Article_Images/Large_Images/Stock-Modern-House-With-Large-Pool-AdobeStock-127770833-Copy.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bg-img1{
      background-color:aqua;
    }
  
  .blink{
    
      animation: blinker 1.5s linear infinite;
      text-shadow:
      1px 1px 1px rgb(11, 188, 228),
      2px 2px 1px rgb(38, 237, 20);
      
                
                font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            @keyframes blinker {
                50% {
                    opacity: 0;
                }
            }
   